@charset 'UTF-8';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    color: $color-text;
    font: {
        family: "M PLUS 1p", sans-serif;
        size: 10px;
    }
}
ul,
ol {
    list-style: none;
}