@charset 'UTF-8';

.u {
    &-bg {
        &-purple {
            background-color: $color-lightpurple;
        }
    }
    &-txt {
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
        &-left {
            text-align: left;
        }
    }
    &-w {
        @for $i from 1 through 9 {
            &-0#{$i} {
                width: 100% / 12 * $i
            }
        }
        @for $i from 10 through 12 {
            &-0#{$i} {
                width: 100% / 12 * $i
            }
        }
    }
    @for $i from 1 through 10 {
        &-mt {
            &-#{$i * 5} {
                margin-top: #{$i * 5}px
            }
        }
        &-mb {
            &-#{$i * 5} {
                margin-bottom: #{$i * 5}px
            }
        }
        &-ml {
            &-#{$i * 5} {
                margin-left: #{$i * 5}px
            }
        }
        &-mr {
            &-#{$i * 5} {
                margin-right: #{$i * 5}px
            }
        }
    }
}